<style>
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000; /* Optional: background color while loading */
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
</style>
<div class="video-container">
    <iframe src="https://www.youtube.com/embed/{{ .Get "id" }}"
            {{- if .Get "playlist" }}
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ .Get "id" }}?list={{ .Get "playlist" }}><img src=https://img.youtube.com/vi/{{ .Get "id" }}/hqdefault.jpg alt='{{ .Get "title" | default "YouTube Video" }}'><span>▶</span></a>"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            title="{{ .Get "title" | default "YouTube Video Playlist" }}"
            {{- else -}}
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ .Get "id" }}><img src=https://img.youtube.com/vi/{{ .Get "id" }}/hqdefault.jpg alt='{{ .Get "title" | default "YouTube Video" }}'><span>▶</span></a>"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            title="{{ .Get "title" | default "YouTube Video" }}"
            {{- end -}}
    ></iframe>
</div>
